---
import { Astro } from 'astro';
---
<html lang="en">
<head>
    <meta name="google-adsense-account" content="ca-pub-4053473548649718">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4053473548649718"
            crossorigin="anonymous"></script>
</head>
<body>
<slot />
</body>
</html>
